@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --primary-text-color: rgb(245, 245, 245);
    --secondary-color: red;
    --dark-color: rgb(34,33,39);
  }

/* ================= Navbar ================== */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    padding-top: 50px;
}

.navbar ul.hide{
    display: none;
}

.navbar a {
    color: var(--primary-text-color);
    font-size: 18px;
    transition: 0.7s ease-in-out;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: line-through whitesmoke 3px;
}

ul li, ul li a {
    text-decoration: none;
    list-style: none;
    padding: 10px;
    color: var(--primary-text-color);
}

/* ====================== Main banner =================== */

.main {
    background-image: url(/assets/img/bag3.jpg);
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text h1 {
    color: var(--primary-text-color);
    font-size: 4em;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color: var(--secondary-color);
}

/* ================Bottom bar =================== */
.bottom-bar {
    width: 90%;
    color:var(--primary-text-color);
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.search-icon-show{
    display: none;
}

.bottom-bar span {
    color: red;
}

.bottom-bar a {
    color: var(--primary-text-color);
}


/* ===================== Services Section ========================= */
.services {
    padding-top: 4em;
    padding-bottom: 4em;
}

.products {
    background-color: #f8f5f2;
    padding-top: 8em;
    padding-bottom: 8em;
}

.venn-img{
    max-width: 100%;
}

.venn-img img {
    width: 100%;
}

.service-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-text {
    width: 100%;
}

.big-img img{
    width: 100%;
    height: 100%;
}


/* ================= Blog =============== */
.blog {
    background-color: #f8f5f2;
}


/* ============== Contact Section ============== */
.contact {
    padding-top: 8em;
    padding-bottom: 8em;
}

.send-email {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.send-email .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 40px;
    border-radius: 50%;
}

.col-bag-red {
    background-color: #eb3505;
}

.col-bag-orange {
    background-color: #f96526;
}


/* =============== Footer ================= */

.footer {
    background-color: var(--dark-color);
}

.footer-container {
    width: 85%;
    margin: auto;
    padding-top: 8em;
    padding-bottom: 8em;
    color: var(--primary-text-color);
}

.footer-container a i {
    font-size: 4em;
    color: var(--primary-text-color);
}


/* ============== Components ============== */

.primary-button {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border-radius: 3px;
    border: solid 2px var(--primary-text-color);
    color: var(--primary-text-color);
    font-weight: 500;
    transition: 0.5s ease-in-out;
}

.black-button {
    color: var(--dark-color);
    border: solid 2px var(--dark-color);
}

.primary-button:hover {
    background-color: whitesmoke;
    color: var(--dark-color);
}

.card {
    background-color: var(--primary-text-color);
}

.card .card-body img {
    background-color: gray;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.card-body h3 {
    font-size: 1.4em;
    font-weight: 400;
}

.card-body span {
    color: var(--secondary-color);
    padding-right: 10px;
}


/*
======================== Helpers =============================
*/

.space-top-10 {
    margin-top: 10px;
}

.space-top-30 {
    margin-top: 30px;
}

.side-margin {
    margin-left: 4em;
    margin-right: 4em;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.section-title {
    font-size: 2.3em;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: var(--secondary-color);
}

.body-text {
    font-size: 1.1em;
    font-weight: 300;
}

.padding-8 {
    padding: 8em 3em;
}

@media (min-width: 576px) {
    .venn-img img {
        width: 300px;
    }

    .send-email .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .navbar ul.hide{
        display: flex;
    }

    .menuhide {
        display: none;
    }

    .search-icon-show {
        display: flex;
    }

    h1 {
        font-size: 5em;
    }
}

@media (min-width: 992px) {
    .banner-text h1 {
        font-size: 100px;
        text-align: center;
    }

    .venn-img img{
        width: 500px;
    }
}